{% extends "base.html" %}
{% block title %}
Главная
{% endblock %}
{% block body %}
<h1>Главная</h1>
<h3>Про нас</h3>
<div>
<p style="color: white;">Меня зовут Игорь Усиков. Мне 10 лет. Если вы хотите посмотреть мои сертефикаты, то перейдите по ссылке "Сертификаты"
Если вы хотите посмотреть мои книги, переходите по ссылке "Книги"</p> <p style="color: red;">Внимание!! Книги на немецком!!!!!!</p>
</div>
{% endblock %}
{% block navigation %}
<a href="/books">Книги</a>
<a href="/certificates">Сертификаты</a>
{% endblock %}